/* General Style */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Header Animation */
.animated-header {
    animation: slideInFromTop 1s ease-out;
}

.animated-title {
    animation: fadeIn 1.5s ease-in;
}

/* Footer Animation */
.animated-footer {
    animation: fadeIn 1.5s ease-in-out;
}

/* Animations */
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Buttons */
#login-btn {
    transition: transform 0.3s ease;
}

#login-btn:hover {
    transform: scale(1.1);
}

/* Section Animations */
.animate-left {
    animation: slideInFromLeft 1.5s ease-out;
}

.animate-right {
    animation: slideInFromRight 1.5s ease-out;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Footer Style */
footer {
    background-color: #007bff;
}
